.notification-container {
  position: relative;
}

#first-not-menu {
  display: inline-block;
  width: 96%;
  color: rgb(229, 8, 8);
}

.menuItem {
  font-family: "Times New Roman", Times, serif;
  font-size: 1.2em;
  margin: 8px 30px 0;
  text-align: right;
}

.Notifications {
  width: 450px;
  border: 2px dashed rgb(229, 8, 8);
  padding: 10px 40px;
  margin: 20px;
  position: absolute;
  right: 0;
  top: 30px;
  font-size: var(--font-size);
  font-family: var(--font-family-secondary);
}

.Notifications img:hover {
  opacity: 0.5;
}

[data-priority="default"],
[data-notification-type="default"] {
  color: rgba(2, 2, 125, 0.967);
}

[data-priority="urgent"],
[data-notification-type="urgent"] {
  color: red;
}